*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    
    width: 900px;
    height: 600px;
    color: rgb(110, 110, 110);
    border-radius: 50px;
}
.head{
    height: 50px;
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;

}
.circles{
    display: flex;
    cursor: pointer;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: black;
}
.circle1{
    background-color: rgb(255, 108, 103);
}
.circle2{
    background-color: rgb(255, 201, 57);
}
.circle3{
    background-color:rgb(27, 225, 63);
}
.back{
    width: 2px;
    height: 10px;
    background-color: rgb(225, 225, 225);
    margin-left: 80px;
    transform: rotate(40deg);
    top: 3px;
    position: relative;
}
.back::before{
    content: '';
    width: 2px;
    height: 10px;
    background-color: rgb(225, 225, 225);
    transform: rotate(90deg);
    position: absolute;
    left: 5px;
    top: 4px;
}
.advance{
    width: 2px;
    height: 10px;
    background-color: rgb(225, 225, 225);
    margin-left: 40px;
    transform: rotate(-40deg);
    position: relative;
    top: 3px;
}
.advance::before{
    content: '';
    width: 2px;
    height: 10px;
    background-color: rgb(225, 225, 225);
    transform: rotate(-90deg);
    position: absolute;
    left: -5px;
    top: 4px; 
}

.menu{
    width: 400px;
    height: 50px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    /* background-color: rgb(72, 94, 40); */
}
ul{
    list-style: none;
}
li a{
    display: block;
    color: rgb(99, 99, 99);
    text-decoration: none;
}
li a:hover{
    color: white;
}
.search{
    width: 150px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.glass img{
    width: 17px;
    height: 17px;
    margin-bottom: 3px;
}
input{
    border: 0px;
    outline: none;
    height: 20px;
    border-radius: 10px;
    width: 120px;
}
.function{
    width: 130px;
    height: 50px;
    margin-left: 42px;

}
img{
    margin-top: 10px;
    /* margin-right: 5px; */
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
/* 
.within{
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}
.outer{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    top: 95px;
    left: 1089px;
    position: absolute;
} */
.body{
    height: 470px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.left{
    width: 200px;
    height: 470px;
    background-color: rgb(237, 238, 238);
}
.information{
    height: 60px;
    width: 190px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.picture{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: blue;
    margin-left: 10px; */
}
.picture img{
    border-radius: 50%;
    
}
.username{
    margin-left: 10px;
}
.more{
    width: 0px;
    height: 0px;
    border-left: 7px solid rgb(144, 144, 144);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    margin-left: 10px;
}
.navigation{
    width: 180px;
    height: 135px;
    font-size: 13px;
    /* background-color: red; */
}

.navigation ul a{
    display: block;
    color: #000;
    padding: 3px 15px;
    text-decoration: none;
}
.navigation img{
    width: 15px;
    height: 15px;
}

.navigation a:hover{
    background-color: rgb(226, 226, 226);
}
.declarator{
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 10px;
    color: rgb(145, 145, 145);
}
.moreMenu{
    width: 0px;
    height: 0px;
    border-top: 5px solid rgb(145,145,145);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-top: 3px;
    margin-right: 2px;
}
.right{
    width: 750px;
    height: 470px;
    /* background-color: indigo; */
}
.interface img{
    width: 750px;
    height: 470px;
    top: -30px;
}
.foot{
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: space-between; */
}
.music{
    /* display: flex; */
    width: 300px;
    height: 80px;
    /* background-color: chartreuse; */
}
.musicname{
    font-size: 13px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
.music img{
    float: left;
    margin-left: 10px;
    margin-bottom: -25px;
    /* margin-bottom: 10px; */
} 
.musictime{
    font-size: 13px;
    clear: both;
    margin-left: 80px;
}
.operation{
    width: 300px;
    height: 80px;
    /* background-color: coral; */
    display: flex;
    align-items: center;
}
.operation img{
    margin-left: 20px;
}

.option{
    width: 300px;
    height: 80px;
    /* background-color: cyan; */
}
.soundEffect{
    margin-top: 10px;
    margin-left: 100px;
    width: 180px;
    height: 60px;
}